.navbar {
 background-color: white;
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 11vh;
 color: black;
 border-top:1px solid grey;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
.size-5vh {
  width: 5vh;
}

.text-align-center {
  text-align: center;
}

.text-decoration-none{
  text-decoration: none;
}

.color-black{
  color: black;
}

.nav-top{
  height: 9vh;
}

.arrow-back{
  margin: 2vh 0 0 2vh;
}

.borderTest {
  border: 1px solid black;
}